@import '../../App.scss';

.button {
  padding: 12px 27px;
  background: $primary-bg-color;
  border: 2px solid $third-font-color;
  color: $third-font-color;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  box-shadow: 5px 5px 8px 5px rgba(12, 12, 14, 0.48);
  position: relative;
  margin-top: 6%;
  overflow: hidden;
  cursor: pointer;
  white-space: nowrap;
  max-width: 160px;
  width: 100%;
}

.button:hover {
  border: none;
  transition: all 0.15s;
  padding: 14px 29px;
}

.button a {
  position: relative;
  transition: all 0.3s ease-Out;
  text-decoration: none;
  color: $primary-font-color;
}

#slide-right {
  width: 120%;
  height: 150%;
  right: -200px;
  background: $secondary-font-color;
  position: absolute;
  transition: all 0.2s ease-Out;
  bottom: 0;
  transform: rotate(30deg);
  opacity: 0.9;
}

.button:hover #slide-right {
  right: -50px;
}

#slide-left {
  width: 120%;
  height: 150%;
  left: -200px;
  background: $third-font-color;
  position: absolute;
  transition: all 0.2s ease-Out;
  top: 0;
  transform: rotate(30deg);
  opacity: 0.9;
}

.button:hover #slide-left {
  left: -68px;
}

.button:hover a {
  color: $primary-bg-color;
}

// tablet

@media screen and (max-width: 992px) {
  .contact-btn {
    padding: 10px 25px;
    top: 32%;
  }
}

// large screen mobile

@media screen and (max-width: 768px) {
  .contact-btn {
    padding: 8px 20px;
    font-size: 16px;
    top: 28%;
  }
}

// normal screen mobile

@media screen and (max-width: 560px) {
  .contact-btn {
    padding: 5px 15px;
    font-size: 12px;
    top: 20%;
  }
}