@import '../../App.scss';

.social-bar {
  width: 140px;
  height: 80px;
  position: absolute;
  right: 60px;
  top: -38px;
  border-bottom-left-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 10;
}

.linkedin {
  height: 35px!important;
}

.social-bar a {
  text-decoration: none;
  color: $third-font-color;
}

.social-icons {
  cursor: pointer;
  height: 37px;
  width: 32px;
  background: $primary-bg-color;
  padding: 8px;
}

.social-icons:hover {
  transition: all 0.25s;
  background: $secondary-bg-color;
  border-radius: 2px;
  color: $primary-bg-color;
}

.social-text {
  font-size: 0;
}

// tablet

@media screen and (max-width: 992px) {
  .social-icons {
    height: 26px;
    width: 21px;
  }
}

// normal screen mobile

@media screen and (max-width: 768px) {
  .social-bar {
    width: 100px;
    height: 52px;
    padding: 6px 14px;
  }

  .social-icons {
    height: 21px;
    width: 17px;
  }
}
