@import '../../App.scss';

.social-bar {
  width: 120px;
  height: 64px;
  padding: 6px 14px;
  position: absolute;
  right: 0;
  top: 0;
  background-color: $secondary-bg-color;
  border-bottom-left-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.social-bar a {
  text-decoration: none;
  color: $third-font-color;
}

.social-icons {
  cursor: pointer;
  height: 30px;
  width: 23px;
}

.social-icons:hover {
  height: 33px;
  width: 28px;
  transition: all 0.3s ease;
}

.social-text {
  font-size: 0;
}

// tablet

@media screen and (max-width: 992px) {
  .social-icons {
    cursor: pointer;
    height: 26px;
    width: 21px;
  }

  .social-icons:hover {
    height: 30px;
    width: 25px;
  }
}

// normal screen mobile

@media screen and (max-width: 560px) {
  .social-bar {
    width: 100px;
    height: 52px;
    padding: 6px 14px;
  }

  .social-icons {
    cursor: pointer;
    height: 21px;
    width: 17px;
  }

  .social-icons:hover {
    height: 25px;
    width: 21px;
  }
}