@import '../../App.scss';

.contact-form {
  margin-top: 60px;
  padding: 30px 100px 50px 100px;
  color: $primary-bg-color;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-contact {
  font-size: $h2-desktop-size;
  color: $primary-bg-color;
  font-weight: 400;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.text-contact {
  padding-bottom: 20px;
  letter-spacing: 1px;
  line-height: 26px;
  width: 60%;
  text-align: center;
}

.contact-form label {
  letter-spacing: 2px;
  line-height: 26px;
  text-transform: uppercase;
  display: flex;
  align-items: baseline;
}

.contact-form input,
.contact-form textarea {
  margin-left: 10px;
  width: 300px;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none !important;
}

.contact-form textarea {
  min-height: 100px;
  min-width: 172px;
  margin-left: 35px;
}

.contact-form p {
  margin-bottom: 25px;
}

.contact-form button {
  cursor: pointer;
  width: 130px;
  height: 35px;
  margin-top: 50px;
  background-color: $third-font-color;
  border: none;
  color: $secondary-bg-color;
  letter-spacing: 1px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 1px;
  position: relative;
  overflow: hidden;
}

.contact-form button::before {
  content: '';
  position: absolute;
  left: -130px;
  top: 0;
  background-color: $primary-bg-color;
  height: 35px;
  width: 130px;
  z-index: -1;
  border-radius: 1px;
}

.contact-form button:hover::before {
  left: 0px;
  transition: all 0.4s ease;
}

.contact-form button:hover {
  color: $primary-font-color;
  transition: all 0.3s;
}

// tablet

@media screen and (max-width: 992px) {
}

// large screen mobile

@media screen and (max-width: 768px) {
}
