// Backgrounds colors

$primary-bg-color: rgba(28, 29, 33);
$secondary-bg-color: #121214;

// Fonts colors

$primary-font-color: #ffffff;
$secondary-font-color: #a8a8a8;

// Fonts sizes

$h1-size: 76px;
$h2-size: 44px;
$h3-size: 22px;
$p-size: 18px;

// Fonts families

$primary-font-fam : "Libre Franklin", sans-serif;
$secondary-font-fam : "Roboto", sans-serif;
