@import '../../App.scss';

.main-title {
  height: 276px;
}

.letter-spaced {
  margin-right: 15px;
}

.title-letter:hover {
  transition: all 0.3s;
  color: $third-font-color;
  text-shadow: $red-shadow;
}

.main-title-content {
  animation: shake 0.8s;
  font-size: $h1-desktop-size;
  color: $primary-font-color;
  padding-top: 20%;
}

@keyframes shake{
  0%{
    transform: translateX(0)
  }
  25%{
    transform: translateX(25px);
  }
    
  50%{
    transform: translateX(-25px);
  }
  100%{
    transform: translateX(0px);
  }
}

// tablet

@media screen and (max-width: 992px) {
  .main-title {
    top: 30%;
    left: 20%;
  }

  .main-title-content {
    font-size: $h1-tablet-size;
  }

  .title-letter:hover {
    font-size: 60px;
  }
}

// large screen mobile

@media screen and (max-width: 768px) {
  .main-title {
    top: 32%;
    left: 20%;
  }

  .main-title-content {
    font-size: $h1-mobile-size;
  }

  .title-letter:hover {
    font-size: 48px;
  }
}

// normal screen mobile

@media screen and (max-width: 560px) {
  .main-title {
    left: 25%;
  }

  .main-title-content {
    font-size: 32px;
  }

  .letter-spaced {
    margin-right: 8px;
  }

  .title-letter:hover {
    font-size: 28px;
  }
}