@import '../../App.scss';

.work-item {
    position: relative;
    width: 300px;
    height: 300px;
    cursor: pointer;
    overflow: hidden; 
    border-radius: 5px;
}

.work-item:nth-child(2) .slide-work {
    background: $secondary-font-color;
}

.work-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% top;
}

.slide-work {
    width: 100%;
    height: 100%;
    left: -300px;
    background: $third-font-color;
    position: absolute;
    transition: all 0.2s ease-Out;
    top: 0; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}  

.work-item:hover .slide-work {
    left: 0px;
}

.preview-button {
    margin-top: 0;
}