@import '../../App.scss';

.gallery-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  min-width: 540px;
}

.work-title {
  font-size: $h2-desktop-size;
  color: $primary-font-color;
  font-weight: 400;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-align: right;
  margin-bottom: 60px;
}

.work-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 700px;
  justify-content: center;
  gap: 30px;
}

.work-item-1,
.work-item-2,
.work-item-3,
.work-item-4 {
  position: relative;
}

.work-item-1 > * {
  width: 300px;
  height: 250px;
  max-width: 300px;
  max-height: 250px;
}

.work-item-1::before {
  content: url('../../assets/code.svg');
  top: 20%;
  left: 15%;
  position: absolute;
  z-index: 3;
  pointer-events: none;
}

.work-item-2 > * {
  width: 300px;
  height: 350px;
  max-width: 300px;
  max-height: 350px;
}

.work-item-2::before {
  content: url('../../assets/shortly.svg');
  top: 18%;
  left: 7%;
  position: absolute;
  z-index: 3;
  pointer-events: none;
}

.work-item-3 > * {
  width: 300px;
  height: 350px;
  max-width: 300px;
  max-height: 350px;
  margin-top: -100px;
}

.work-item-3::before {
  content: url('../../assets/engineer.svg');
  top: 0;
  left: 8%;
  position: absolute;
  z-index: 3;
  pointer-events: none;
}

.work-item-4 > * {
  width: 300px;
  height: 250px;
  max-width: 300px;
  max-height: 250px;
}

.work-item-4::before {
  content: url('../../assets/fylo.svg');
  top: 15%;
  left: 10%;
  position: absolute;
  z-index: 3;
  pointer-events: none;
}

.work-miniature {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  z-index: 2;
  background-color: $primary-bg-color;
  border: 2px solid $secondary-bg-color;
  opacity: 0.95;
}

.work-miniature::before {
  content: '';
  position: absolute;
  background: $secondary-bg-color;
  height: 100%;
  width: 100%;
  top: 0;
  left: -300px;
}

.work-miniature:hover:before {
  transition: all 0.5s ease;
  left: 0;
}

.work-miniature:hover {
  .more-info {
    display: block;
  }
}

.work-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% top;
  transition: all 0.3s ease-Out;
}

.site-name {
  position: absolute;
  color: $secondary-bg-color;
  text-transform: uppercase;
  letter-spacing: 2px;
  bottom: 0px;
  left: 0px;
  font-weight: 500;
  padding: 5px 10px;
}

.more-info {
  display: none;
  position: absolute;
  color: $primary-bg-color;
  text-transform: uppercase;
  letter-spacing: 2px;
  bottom: 0px;
  right: 0px;
  font-weight: 500;
  padding: 5px 10px;
}

.see-more {
  margin-top: 20px;
  cursor: pointer;
  text-transform: uppercase;
  border: none;
}

.see-more-link {
  padding: 10px 20px;
  background-color: $third-font-color;
  color: $primary-bg-color;
  text-decoration: none;
  font-size: $p-desktop-size;
}

.see-more-link:hover {
  transition: all 0.3s ease;
  color: $primary-bg-color;
  background-color: $secondary-bg-color;
}

.slide-work {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transition: all 0.2s ease-Out;
  padding: 15% 0;
}

.work-button > * {
  box-shadow: none;
}

.work-miniature:hover {
  .work-image {
    filter: blur(4px);
  }

  .slide-work {
    opacity: 1;
    z-index: 2;
  }
}

.work-text-content {
  width: 100%;
  height: 220px;
  background: $primary-bg-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0px 2px 9px 7px rgba(12, 12, 14, 0.48);
  opacity: 0.97;
  border-radius: 5px;
}

.work-text-title {
  color: $primary-font-color;
  font-size: $h3-desktop-size;
}

.work-title-icon {
  color: $third-font-color;
  font-size: $h3-desktop-size;
}

.work-title-icon:nth-child(1) {
  margin-right: 8px;
}

.slash {
  margin-left: 8px;
  color: $third-font-color;
  font-size: calc($h3-desktop-size + 2px);
}

.work-text-description,
.work-text-languages,
.more-infos {
  color: $primary-font-color;
  width: 80%;
  text-align: center;
  font-size: calc($p-desktop-size - 2px);
}

hr {
  width: 60%;
  height: 2px;
  margin-bottom: 20px;
  border: none;
  background: $secondary-bg-color;
}

.more-infos {
  font-weight: 700;
}

.more-work {
  display: flex;
  flex-direction: column;
  color: $primary-font-color;
  align-items: center;
  margin-top: 15%;
  width: 100%;
}

.more-work-text {
  margin-bottom: 25px;
  font-size: $p-desktop-size;
  text-align: center;
}

// tablet

@media screen and (max-width: 992px) {
  .work-title {
    font-size: $h2-tablet-size;
  }

  .work-text-title {
    font-size: $h3-tablet-size;
  }

  .work-title-icon {
    font-size: $h3-tablet-size;
  }

  .slash {
    font-size: calc($h3-tablet-size + 2px);
  }

  .work-text-description,
  .work-text-languages,
  .more-infos {
    font-size: calc($p-tablet-size - 2px);
  }

  .work-text-content {
    height: 275px;
  }

  .more-work-text {
    font-size: $p-tablet-size;
  }
}

// large screen mobile

@media screen and (max-width: 768px) {
  .work-item {
    flex-direction: column;
    margin-top: 10%;
    margin-bottom: 10%;
  }

  .work-title {
    margin-bottom: 15%;
    font-size: $h2-mobile-size;
  }

  .work-item:nth-child(3),
  .work-item:nth-child(5) {
    flex-direction: column;
  }

  .work-miniature {
    min-width: 250px;
    min-height: 250px;
    width: 250px;
    height: 250px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    bottom: -5px;
  }

  .work-text-content {
    width: 100%;
    max-width: 350px;
    height: 220px;
    z-index: 2;
    opacity: 1;
  }
}

// small screen mobile

@media screen and (max-width: 375px) {
  .work-title {
    font-size: calc($h2-mobile-size - 2px);
  }
}
