@import '../../App.scss';

.gallery-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  min-width: 540px;
}

.work-title {
  font-size: $h2-desktop-size;
  color: $primary-font-color;
  font-weight: 400;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-align: right;
  margin-top: -70px;
  margin-bottom: 80px;
}

.work-modal {
  width: 80%;
  height: 60%;
  max-width: 800px;
  max-height: 700px;
  background: $primary-font-color;
  position: absolute;
  top: 12%;
  z-index: 20;
  opacity: 0.7;
  transform: translate(50% 50%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
  border: 7px solid $secondary-bg-color;
}

.work-modal .close {
  content: url('../../assets/close.svg');
  background-color: $secondary-bg-color;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.background-modal {
  width: 112%;
  height: 70%;
  background-repeat: repeat;
  background-position: 0% -0.5%;
  position: absolute;
  top: 40%;
  left: -5%;
  background-color: $secondary-bg-color;
  transform: rotate(-6deg);
  border: 7px solid $secondary-bg-color;
}

.text-modal {
  position: absolute;
  top: 30px;
  left: 30px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title {
  color: $primary-bg-color;
  letter-spacing: 3px;
  line-height: 26px;
  text-transform: uppercase;
  font-size: $h3-desktop-size;
  margin-bottom: 20px;
  width: 85%;
  padding-bottom: 5px;
  border-bottom: 2px solid $third-font-color;
}

.description {
  color: $primary-bg-color;
  width: 85%;
  letter-spacing: 1px;
  line-height: 26px;
}

.links-modal {
  margin-top: 10px;
}

.links-modal a {
  text-decoration: none;
  color: $primary-bg-color;
  margin-top: 18px;
  margin-left: 20px;
  display: flex;
  font-weight: 600;
  width: 130px;
  height: 25px;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: calc($p-desktop-size)- 6px;
  position: relative;
  overflow: hidden;
  border-left: 2px solid $third-font-color;
}

.links-modal a::before {
  content: '';
  position: absolute;
  left: -140px;
  top: 0;
  background-color: $third-font-color;
  height: 30px;
  width: 130px;
  z-index: -1;
  border-radius: 1px;
  transition: all 0.4s ease;
}

.links-modal a:hover::before {
  left: 0px;
}

.work-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 700px;
  justify-content: center;
  gap: 20px;
}

.work-item {
  width: 300px;
  height: 250px;
  background-color: $primary-bg-color;
  border: 2px solid $secondary-bg-color;
}

.work-item-2 {
  height: 350px;
}

.work-item-3 {
  height: 350px;
  margin-top: -100px;
}

.work-miniature {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.work-miniature::after {
  content: '';
  position: absolute;
  background: $secondary-bg-color;
  height: 100%;
  width: 100%;
  top: 350px;
  left: 0px;
  z-index: 10;
  opacity: 0.98;
  transition: all 0.5s ease;
}

.work-miniature:hover:after {
  top: 0px;
}

.work-miniature:hover {
  .more-info {
    left: 22%;
  }
}

.more-info {
  position: absolute;
  color: $primary-bg-color;
  text-transform: uppercase;
  letter-spacing: 2px;
  bottom: 45%;
  left: -85%;
  font-weight: 600;
  padding: 0px 10px;
  z-index: 15;
  border-left: 5px solid $third-font-color;
  transition: all 0.5s ease;
}

.work-image {
  position: relative;
}

.work-item-2 .work-image {
  top: 160px;
  left: 82px;
}

.work-item-3 .work-image {
  left: 37px;
}

.work-item-4 .work-image {
  top: 95px;
  left: 52px;
}

.site-name {
  position: absolute;
  color: $secondary-bg-color;
  text-transform: uppercase;
  letter-spacing: 2px;
  bottom: 0px;
  left: 0px;
  font-weight: 500;
  padding: 5px 10px;
}

.see-more {
  cursor: pointer;
  border: none;
}

.see-more-link {
  display: flex;
  text-decoration: none;
  border-bottom: 2px solid $third-font-color;
  width: 180px;
  height: 42px;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: calc($p-desktop-size)-3px;
  color: $third-font-color;
  position: relative;
  overflow: hidden;
  z-index: 1;
  font-weight: 600;
  transition: all 0.2s ease;
}

.see-more-link::before {
  content: '';
  position: absolute;
  left: -210px;
  top: 0;
  background-color: $third-font-color;
  height: 42px;
  width: 180px;
  z-index: -1;
  border-radius: 1px;
  transition: all 0.4s ease;
}

.see-more-link:hover::before {
  left: 0px;
}

.see-more-link:hover {
  color: $primary-font-color;
}

.slide-work {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transition: all 0.2s ease-Out;
  padding: 15% 0;
}

.work-button > * {
  box-shadow: none;
}

.work-text-content {
  width: 100%;
  height: 220px;
  background: $primary-bg-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0px 2px 9px 7px rgba(12, 12, 14, 0.48);
  opacity: 0.97;
  border-radius: 5px;
}

.work-text-title {
  color: $primary-font-color;
  font-size: $h3-desktop-size;
}

.work-title-icon {
  color: $third-font-color;
  font-size: $h3-desktop-size;
}

.work-title-icon:nth-child(1) {
  margin-right: 8px;
}

.slash {
  margin-left: 8px;
  color: $third-font-color;
  font-size: calc($h3-desktop-size + 2px);
}

.work-text-description,
.work-text-languages,
.more-infos {
  color: $primary-font-color;
  width: 80%;
  text-align: center;
  font-size: calc($p-desktop-size - 2px);
}

.more-infos {
  font-weight: 700;
}

.more-work {
  display: flex;
  flex-direction: column;
  color: $primary-font-color;
  align-items: center;
  margin-top: 15%;
  margin-bottom: 5%;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 40px;
}

.more-work-text {
  margin-bottom: 20px;
  font-size: $p-desktop-size;
  text-align: center;
}

// tablet

@media screen and (max-width: 992px) {
  .work-title {
    font-size: $h2-tablet-size;
  }

  .work-text-title {
    font-size: $h3-tablet-size;
  }

  .work-title-icon {
    font-size: $h3-tablet-size;
  }

  .slash {
    font-size: calc($h3-tablet-size + 2px);
  }

  .work-text-description,
  .work-text-languages,
  .more-infos {
    font-size: calc($p-tablet-size - 2px);
  }

  .work-text-content {
    height: 275px;
  }

  .more-work-text {
    font-size: $p-tablet-size;
  }
}

// large screen mobile

@media screen and (max-width: 768px) {
  .work-item {
    flex-direction: column;
    margin-top: 10%;
    margin-bottom: 10%;
  }

  .work-title {
    margin-bottom: 15%;
    font-size: $h2-mobile-size;
  }

  .work-item:nth-child(3),
  .work-item:nth-child(5) {
    flex-direction: column;
  }

  .work-miniature {
    min-width: 250px;
    min-height: 250px;
    width: 250px;
    height: 250px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    bottom: -5px;
  }

  .work-text-content {
    width: 100%;
    max-width: 350px;
    height: 220px;
    z-index: 2;
    opacity: 1;
  }
}

// small screen mobile

@media screen and (max-width: 375px) {
  .work-title {
    font-size: calc($h2-mobile-size - 2px);
  }
}
