@import '../../App.scss';

.dual-content {
  height: 100%;
  width: 55%;
  min-width: 540px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content-title {
  font-size: $h2-desktop-size;
  color: $primary-font-color;
  font-weight: 400;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-align: right;
}

.content-text {
  border-top: 2px solid $secondary-bg-color;
  border-left: 2px solid $secondary-bg-color;
  padding-left: 20px;
  padding-top: 35px;
  padding-bottom: 20px;
  letter-spacing: 1px;
  line-height: 29px;
  position: relative;
}

.content-paragraph {
  color: $primary-font-color;
  margin-top: 20px;
  font-size: $p-desktop-size;
}

.content-paragraph:nth-child(1) {
  margin-top: 0px;
}

.content-paragraph a {
  color: $third-font-color;
  text-decoration: none;
  transition: all 0.25s ease;
  position: relative;
  overflow: hidden;
}

.content-paragraph a::after {
  content: '';
  height: 2px;
  width: 0%;
  bottom: -3px;
  left: -3%;
  background-color: $third-font-color;
  position: absolute;
  transition: all 0.3s ease;
}

.content-paragraph a:hover::after {
  width: 105%;
}

.image-content {
  position: absolute;
  right: 12%;
}

.image-content img {
  height: 300px;
  border-radius: 2px;
  opacity: 0.9;
}

// tablet

@media screen and (max-width: 992px) {
  .content-title {
    font-size: $h2-tablet-size;
  }
  .dual-content {
    width: 85%;
  }

  .content-paragraph {
    font-size: $p-tablet-size;
  }
}

// large screen mobile

@media screen and (max-width: 768px) {
  .dual-content {
    min-width: inherit;
    width: 100%;
  }

  .content-title {
    font-size: $h2-mobile-size;
  }

  .content-paragraph {
    font-size: $p-mobile-size;
  }

  .content-paragraph:nth-child(5)::after {
    display: none;
  }
}

// small screen mobile

@media screen and (max-width: 375px) {
  .content-title {
    font-size: calc($h2-mobile-size - 2px);
  }
}
