@import '../../App.scss';

.recharts-responsive-container {
    position: relative;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width : 100%!important;
    height : 50%!important;
    max-height: 450px;
}

.recharts-responsive-container path {
    fill: $third-font-color;
    cursor: pointer;
}

.recharts-responsive-container text {
    fill: $primary-font-color!important;
}

.recharts-responsive-container path:hover{
    fill: $secondary-font-color;
    transition: all 0.3s;
}
