@import '../../App.scss';

.home-contact {
  position: fixed;
  top: 50%;
  right: 0;
  background: none;
  border: none;
  rotate: 270deg;
  font-size: $h3-desktop-size;
  cursor: pointer;
  border-bottom: 2px solid $third-font-color;
  padding: 2px 8px;
  transition: all 0.25s;
}

.home-contact:hover {
  background-color: $third-font-color;
  color: $primary-bg-color !important;
}

.home-contact a {
  text-decoration: none;
  color: inherit;
}

.sidebar {
  height: 100vh;
  position: fixed;
  transition: all 0.3s ease;
  z-index: 10;
}

.menu {
  position: fixed;
  top: 49%;
  left: 24px;
  background: none;
  border: none;
  transform: rotate(90deg);
  transform-origin: 50% 51%;
  font-size: $h3-desktop-size;
  cursor: pointer;
  border-bottom: 2px solid $third-font-color;
  padding: 2px 8px;
  transition: all 0.25s;
}

.menu:hover {
  background-color: $third-font-color;
  color: $primary-bg-color;
}

.sidebar-active .menu {
  display: none;
}

.sidebar-active .close {
  content: url('../../assets/close.svg');
  position: absolute;
  right: 10px;
  top: 6px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.sidebar-active .close:hover {
  rotate: 90deg;
}

.sidebar-active .logo {
  content: url('../../assets/logo-tj.webp');
  position: absolute;
  top: 10px;
  left: 10px;
  height: 50px;
}

.sidebar-active {
  transition: all 0.3s ease;
  width: 220px;
  background-color: $secondary-bg-color;
  border-right: 1px solid $primary-bg-color;
}

.sidebar ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar ul li {
  position: relative;
  height: 70px;
  list-style: none;
}

.sidebar ul li a {
  color: $primary-bg-color;
  text-decoration: none;
  white-space: nowrap;
}

.sidebar .link-name {
  display: none;
  transition: all 0.15s ease;
}

.sidebar-active .link-name {
  display: flex;
  border-bottom: 2px solid $primary-bg-color;
  width: 130px;
  height: 42px;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: calc($p-desktop-size)- 6px;
  position: relative;
  overflow: hidden;
  transition: all 0.2s;
}

.sidebar-active .link-name::before {
  content: '';
  position: absolute;
  left: -130px;
  top: 0;
  background-color: $third-font-color;
  height: 42px;
  width: 130px;
  z-index: -1;
  border-radius: 1px;
  transition: all 0.4s ease;
}

.sidebar-active .link-name:hover::before {
  left: 0px;
}

.sidebar-active .link-name:hover {
  color: $primary-font-color;
}

.sidebar .profile-content {
  position: absolute;
  color: $secondary-font-color;
  bottom: 0;
  left: 20px;
  width: 100%;
}

.sidebar .profile-details {
  display: none;
  transition: all 0.3s ease;
  padding: 10px 6px;
  height: 60px;
}

.sidebar-active .profile-details {
  display: block;
}

.profile-details {
  color: $primary-bg-color;
  white-space: nowrap;
}

.profile-details .name {
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3.5px;
  margin-bottom: 5px;
}

.profile-details .job {
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 600;
}

// // normal screen mobile

// @media screen and (max-width: 768px) {
//   .sidebar {
//     width: 52px;
//     padding: 6px 14px;
//   }

// .sidebar-active {
//   width: 180px;
// }

//   .sidebar ul li a .icons {
//     width: 20px;
//   }

//   .sidebar .btn {
//     width: 16px;
//   }

// .profile .profile-details img {
//   height: 30px;
//   width: 30px;
// }

// .profile .profile-details .name {
//   font-size: 13px;
// }

// .profile .profile-details .job {
//   font-size: 10px;
// }

// .sidebar-active .link-name {
//   font-size: 14px;
// }

//   .sidebar ul li .tooltip {
//     display: none;
//   }

//   .sidebar ul li {
//     margin: 0 5%;
//   }
// }
