@import '../../App.scss';

.sidebar {
  height: 100vh;
  width: 64px;
  background: $secondary-bg-color;
  opacity: 0.95;
  position: fixed;
  padding: 6px 14px;
  transition: all 0.3s ease;
  z-index: 10;
}

.sidebar-active {
  width: 240px;
}

.sidebar .btn {
  position: absolute;
  color: $third-font-color;
  left: 50%;
  top: 6px;
  width: 20px;
  height: 50px;
  transform: translateX(-50%);
  cursor: pointer;
}

.sidebar-active .btn {
  left: 90%;
}

.sidebar ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sidebar ul li {
  position: relative;
  height: 70px;
  width: 100%;
  margin: 0 10%;
  list-style: none;
  cursor: pointer;
}

.sidebar ul li .tooltip {
  position: absolute;
  left: 120px;
  top: 0px;
  transform: translate(-50%, -50%);
  border-radius: 6px;
  padding: 10px 0px;
  width: 125px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0s;
  opacity: 0;
  pointer-events: none;
  background: $primary-bg-color;
  border: 2px solid $third-font-color;
  font-weight: bold;
  color: $primary-font-color;
  display: blocprimaryk;
  white-space: nowrap;
}

.sidebar-active ul li .tooltip {
  display: none;
}

.sidebar ul li:hover .tooltip {
  top: 36%;
  opacity: 1;
  transition: all 0.3s ease;
}

.sidebar ul li a {
  color: $primary-font-color;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-weight: bold;
  white-space: nowrap;
}

.sidebar ul li a .icons {
  height: 50px;
  width: 28px;
  color: $third-font-color;
  margin-right: 15%;
}

.sidebar ul li a .icons:hover {
  transition: all 0.2s;
  filter: drop-shadow($red-shadow)
}

.sidebar-active ul li a .icons {
  text-align: center;
}

.sidebar .link-name {
  opacity: 0;
  pointer-events: none;
  transition: all 0.15s ease;
}

.sidebar-active .link-name {
  opacity: 1;
  pointer-events: auto;
  position: relative;
}

.sidebar-active .link-name::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 2px;
  background: $third-font-color;
}

.sidebar-active a:hover {
  .link-name {
    color: $third-font-color;
    transition: all 0.25s ease;
  }

  .link-name::after {
    width: 100%;
    transition: all 0.25s ease;
  }
}

.sidebar .profile-content {
  position: absolute;
  color: #fff;
  bottom: 20px;
  left: 10%;
}

.sidebar .profile-content .profile {
  position: relative;
  padding: 10px 6px;
  height: 60px;
}

.sidebar .profile .profile-details {
  display: flex;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
  transition: all 0.3s ease;
}

.sidebar-active .profile .profile-details {
  opacity: 1;
  pointer-events: auto;
}

.profile .profile-details img {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 5px;
}

.profile .profile-details .name-job {
  margin-left: 10px;
  color: $primary-font-color;
}

.profile .profile-details .name {
  font-size: 16px;
  font-weight: 400;
}

.profile .profile-details .job {
  font-size: 13px;
}

// normal screen mobile

@media screen and (max-width: 560px) {
  .sidebar {
    width: 52px;
    padding: 6px 14px;
  }

  .sidebar-active {
    width: 180px;
  }

  .sidebar ul li a .icons {
    width: 20px;
  }

  .sidebar ul {
    justify-content: flex-start;
    margin-top: 80px;
  }

  .sidebar .btn {
    width: 16px;
  }

  .profile .profile-details img {
    height: 30px;
    width: 30px;
  }

  .profile .profile-details .name {
    font-size: 13px;
  }
  
  .profile .profile-details .job {
    font-size: 10px;
  }

  .sidebar-active .link-name {
    font-size: 14px;
  }

  .sidebar ul li .tooltip {
    display: none;
  }

  .sidebar ul li {
    margin: 0 5%;
}
}