@import '../../App.scss';

.title-box {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-box-content {
  position: relative;
  margin-bottom: 30px;
  max-width: 970px;
  max-height: 356px;
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid $secondary-bg-color;
  background: $primary-bg-color;
}

.main-title {
  font-size: calc($h1-desktop-size) - 28px;
  font-weight: 400;
  color: $primary-font-color;
  z-index: 2;
  margin-bottom: 30px;
}

.border-box {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 30px;
  left: 30px;
  z-index: -1;
  border: 2px solid $secondary-font-color;
}

.title-name {
  margin-bottom: 10px;
  text-align: left;
  letter-spacing: 12px;
}

.title-text {
  font-weight: 600;
  font-size: calc($h1-desktop-size);
}

.arrow-down {
  content: url('../../assets/arrow-down.svg');
  position: absolute;
  bottom: 6px;
  left: 50%;
  transform: translate(-50%, -0%);
}

// small screen desktop

@media screen and (max-width: 1200px) {
  .main-title {
    font-size: calc($h1-tablet-size)-28px;
  }

  .title-text {
    font-size: $h1-tablet-size;
  }

  .title-box-content {
    max-height: 340px;
  }
}

// tablet

@media screen and (max-width: 992px) {
  .main-title {
    font-size: calc($h1-mobile-size)-28px;
  }

  .title-text {
    font-size: calc($h1-mobile-size);
  }

  .title-box-content {
    max-height: 300px;
  }
}

// large screen mobile

@media screen and (max-width: 768px) {
  .main-title-content {
    font-size: $h1-mobile-size;
  }
}

// small screen mobile

@media screen and (max-width: 375px) {
  .main-title-content {
    font-size: calc($h1-mobile-size - 10px);
  }
}
