@import '../../App.scss';

.main-title {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.letter-spaced {
  margin-right: 15px;
}

.main-title-content {
  font-size: $h1-desktop-size;
  color: $primary-font-color;
  margin-bottom: 70px;
}

// tablet

@media screen and (max-width: 992px) {
  .main-title-content {
    font-size: $h1-tablet-size;
  }
}

// large screen mobile

@media screen and (max-width: 768px) {
  .main-title-content {
    font-size: $h1-mobile-size;
  }
}

// normal screen mobile

@media screen and (max-width: 560px) {

}