@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');

/* 

//// Shared styles /////

*/

// Backgrounds colors

$primary-bg-color: rgba(28, 29, 33);
$secondary-bg-color: #121214;

// Fonts colors

$primary-font-color: #ffffff;
$secondary-font-color: #FD1056;
$third-font-color: #08fdd8;

// Fonts sizes

$h1-desktop-size: 76px;
$h1-tablet-size: 64px;
$h1-mobile-size: 52px;
$h2-size: 44px;
$h3-size: 22px;
$p-size: 18px;

// Fonts families

$primary-font-fam: 'Libre Franklin', sans-serif;
$secondary-font-fam: 'Roboto', sans-serif;

// Shadow

$red-shadow : 6px 2px 0px $secondary-font-color;


/* 

//// Global styles /////

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primary-font-fam;
}

body {
  background: $primary-bg-color;
  position: relative;
  min-height: 100vh;
  width: 100%;
  cursor: default;
  margin: auto;
}

.first-capital {
  color: $third-font-color;
  text-shadow: $red-shadow;
}

/* 

//// Pages styles /////

*/

.home {
  position: relative;
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position-y: 100%;
  background-position-x: 100%;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1020%26quot%3b)' fill='none'%3e%3cpath d='M269.68 587.68C434.48 583.75 560.92 358.49 885.88 353.01 1210.84 347.53 1341.66 175.62 1502.08 173.81' stroke='rgba(8%2c 253%2c 216%2c 1)' stroke-width='5'%3e%3c/path%3e%3cpath d='M813.4 589.1C928.85 546.88 886.18 201.58 1115.49 201.15 1344.8 200.72 1556.61 442.87 1719.67 447.55' stroke='rgba(8%2c 253%2c 216%2c 0.6)' stroke-width='5'%3e%3c/path%3e%3cpath d='M445.62 633.15C594.79 631.56 713.85 475.94 1019.41 469.35 1324.97 462.76 1436.07 217.57 1593.2 211.75' stroke='rgba(8%2c 253%2c 216%2c 0.4)' stroke-width='5'%3e%3c/path%3e%3cpath d='M605.04 617.52C763.81 600.2 862.5 253.83 1129.61 252.91 1396.71 251.99 1516.9 413.47 1654.17 415.31' stroke='rgba(253%2c 16%2c 86%2c 0.6)' stroke-width='5'%3e%3c/path%3e%3cpath d='M585.58 637.04C727.65 634.57 834.69 461.79 1123.77 454.26 1412.86 446.73 1514.67 218.87 1661.97 213.46' stroke='rgba(253%2c 16%2c 86%2c 1)' stroke-width='5'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1020'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.home-section {
  max-width: 1200px;
  width: 100%;
  height: 100vh;
  margin: auto;
}

.about {
  position: relative;
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-y: 50%;
  // background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='2560' height='996' preserveAspectRatio='none' viewBox='0 0 2560 996'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1271%26quot%3b)' fill='none'%3e%3cpath d='M -539.7285790329886%2c552 C -368.93%2c534.8 -27.33%2c419.4 314.2714209670114%2c466 C 655.87%2c512.6 826.67%2c796 1168.2714209670114%2c785 C 1509.87%2c774 1680.67%2c458.4 2022.2714209670114%2c411 C 2363.87%2c363.6 2768.73%2c533.2 2876.271420967011%2c548 C 2983.82%2c562.8 2623.25%2c497.6 2560%2c485' stroke='rgba(8%2c 253%2c 216%2c 0.6)' stroke-width='5'%3e%3c/path%3e%3cpath d='M -1559.1908443243194%2c787 C -1388.39%2c699.4 -1046.79%2c382.6 -705.1908443243194%2c349 C -363.59%2c315.4 -192.79%2c593.8 148.80915567568059%2c619 C 490.41%2c644.2 661.21%2c442.6 1002.8091556756806%2c475 C 1344.41%2c507.4 1545.37%2c838.4 1856.8091556756806%2c781 C 2168.25%2c723.6 2419.36%2c306.6 2560%2c188' stroke='rgba(8%2c 253%2c 216%2c 0.6)' stroke-width='5'%3e%3c/path%3e%3cpath d='M -36.837340590421604%2c221 C 133.96%2c326.4 475.56%2c756.2 817.1626594095784%2c748 C 1158.76%2c739.8 1329.56%2c204.8 1671.1626594095783%2c180 C 2012.76%2c155.2 2183.56%2c620.8 2525.1626594095783%2c624 C 2866.76%2c627.2 3372.2%2c205.8 3379.1626594095783%2c196 C 3386.13%2c186.2 2723.83%2c499.2 2560%2c575' stroke='rgba(253%2c 16%2c 86%2c 0.6)' stroke-width='5'%3e%3c/path%3e%3cpath d='M -370.1131694376245%2c562 C -199.31%2c527.2 142.29%2c334 483.8868305623755%2c388 C 825.49%2c442 996.29%2c830.6 1337.8868305623755%2c832 C 1679.49%2c833.4 1850.29%2c422 2191.8868305623755%2c395 C 2533.49%2c368 2972.26%2c685 3045.8868305623755%2c697 C 3119.51%2c709 2657.18%2c503.4 2560%2c455' stroke='rgba(253%2c 16%2c 86%2c 0.6)' stroke-width='5'%3e%3c/path%3e%3cpath d='M -781.5589919852698%2c846 C -610.76%2c717 -269.16%2c249.6 72.4410080147302%2c201 C 414.04%2c152.4 584.84%2c559.8 926.4410080147302%2c603 C 1268.04%2c646.2 1438.84%2c395.4 1780.4410080147302%2c417 C 2122.04%2c438.6 2478.53%2c736.6 2634.4410080147304%2c711 C 2790.35%2c685.4 2574.89%2c373.4 2560%2c289' stroke='rgba(8%2c 253%2c 216%2c 0.6)' stroke-width='5'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1271'%3e%3crect width='2560' height='996' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.about-section {
  max-width: 1200px;
  width: 100%;
  height: 100vh;
  margin: auto;
}

.skills {
  position: relative;
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url("");
}

.work {
  position: relative;
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url("");
}

.contact {
  position: relative;
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url("");
}

// small screen desktop

@media screen and (max-width: 1200px) {
  .home {
    background-size: 1200px 467px;
  }
}

// tablet

@media screen and (max-width: 992px) {
  .home {
    background-size: 992px 386px;
  }
}

// large screen mobile

@media screen and (max-width: 768px) {
  .home {
    background-size: 768px 299px;
  }
}

// normal screen mobile

@media screen and (max-width: 560px) {
  .home {
    background-image: none;
  }
}