@import 'styles/shared';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primary-font-fam;
}

body {
  background: $primary-bg-color;
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

// Sidebar => TODO REMOVE UNECESSARY STYLES

.sidebar {
  height: 100%;
  width: 240px;
  background: $secondary-bg-color;
  position: fixed;
  top: 0;
  left: 0;
  padding: 6px 14px;
}

.sidebar .logo-content .logo {
  color: #fff;
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
}

.sidebar .btn {
  position: absolute;
  color: $third-font-color;
  left: 90%;
  top: 6px;
  width: 20px;
  height: 50px;
  transform: translateX(-50%);
}

.sidebar ul {
  margin-top: 20px;
}

.sidebar ul li {
  position: relative;
  height: 50px;
  width: 100%;
  margin: 0 5px;
  list-style: none;
  cursor: pointer;
}

.sidebar ul li a {
  color: $secondary-font-color;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.sidebar ul li a .icons {
  height: 50px;
  width: 20px;
  font-size: 20px;
  color: $third-font-color;
  margin-right: 20%;
}

.sidebar ul li a:hover {
  color: $third-font-color;
  font-size: 17px;
  transition: all 0.3s;
}

// Title

.main-title {
  position: relative;
  width: 600px;
  height: 500px;
  transform: translate(50%, 50%);
}

.letter-spaced {
  margin-right: 15px;
}

.title-letter:hover {
  color: $third-font-color;
  transition: all 0.15s;
  font-size: 72px;
}

.main-title-content {
  position: absolute;
  top: 0%;
  left: 0%;
  font-size: $h1-size;
  color: $primary-bg-color;
  -webkit-text-stroke: 2px $third-font-color;
}

.main-title-animated {
  color: #fff;
  font-size: $h1-size;
  position: absolute;
  top: 34%;
  left: 0%;
}

.main-title-animated:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px $third-font-color;
}

.main-title-animated:nth-child(2) {
  color: $third-font-color;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

.under-title {
  color: $secondary-font-color;
  position: absolute;
  top: 64%;
  left: 0;
  font-weight: 400;
}
