@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;700&display=swap');

/* 

//// Shared styles /////

*/

// Backgrounds colors

// $primary-bg-color: rgba(28, 29, 33);
$primary-bg-color: #f0efef;
$secondary-bg-color: #2e2e2e;

// Fonts colors

$primary-font-color: #2e2e2e;
$secondary-font-color: #cacaca;
$third-font-color: #b0925a;

// Fonts sizes

$h1-desktop-size: 76px;
$h1-tablet-size: 68px;
$h1-mobile-size: 58px;

$h2-desktop-size: 44px;
$h2-tablet-size: 40px;
$h2-mobile-size: 38px;

$h3-desktop-size: 22px;
$h3-tablet-size: 18px;

$p-desktop-size: 18px;
$p-tablet-size: 16px;
$p-mobile-size: 14px;

// Fonts families

$primary-font-fam: 'Lato', sans-serif;
$secondary-font-fam: 'Roboto', sans-serif;

// Shadow

$red-shadow: 6px 2px 0px $secondary-font-color;

/* 

//// Global styles /////

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primary-font-fam;
}

body {
  background: $primary-bg-color;
  position: relative;
  min-height: 100vh;
  width: 100%;
  cursor: default;
  margin: auto;
}

.first-capital {
  color: $third-font-color;
  text-shadow: $red-shadow;
}

/* 

//// Pages styles /////

*/

.home {
  position: relative;
  height: 100vh;
  width: 100%;
}

.home-section {
  width: 100%;
  height: 100vh;
  position: relative;
  margin: auto;
}

.about {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: #dadada;
  overflow: hidden;
}

// .about:before {
//   content: '';
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   background-image: url('./assets/about-bg.webp');
//   background-repeat: no-repeat;
//   background-attachment: fixed;
//   background-position-y: 50%;
//   background-position-x: 50%;
// }

.about::after {
  content: '';
  position: absolute;
  height: 100px;
  width: 110%;
  background-color: $primary-bg-color;
  bottom: -45px;
  left: 0;
  transform: rotate(177deg);
}

.about-section {
  max-width: 1200px;
  width: 75%;
  position: relative;
  height: 100vh;
  margin: auto;
}

.skills {
  position: relative;
  height: 100vh;
  width: 100%;
}

.skills-section {
  max-width: 1200px;
  width: 75%;
  position: relative;
  height: 100vh;
  margin: auto;
}

.work {
  position: relative;
  height: 140vh;
  width: 100%;
}

.work-section {
  max-width: 1200px;
  width: 75%;
  height: 100%;
  position: relative;
  margin: auto;
}

.contact {
  position: relative;
  height: 80vh;
  width: 100%;
  background-color: $secondary-bg-color;
  padding-top: 200px;
  overflow: hidden;
}

.contact::before {
  content: '';
  position: absolute;
  width: 50.3%;
  height: 100px;
  top: -65px;
  left: 0px;
  transform: rotate(4deg);
  background-color: $primary-bg-color;
}

.contact::after {
  content: '';
  position: absolute;
  width: 50.3%;
  height: 100px;
  top: -65px;
  right: 0px;
  transform: rotate(176deg);
  background-color: $primary-bg-color;
}

.contact-section {
  max-width: 1200px;
  width: 75%;
  height: 100%;
  position: relative;
  margin: auto;
}

.footer {
  background: $secondary-bg-color;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: grey;
  font-size: 15px;
}

// small screen desktop

@media screen and (max-width: 1200px) {
  .home {
    background-size: 1200px 467px;
  }

  .about:before {
    background-position-x: -20%;
  }
}

// tablet

@media screen and (max-width: 992px) {
  .home {
    background-size: 992px 386px;
  }

  .about:before {
    background-position-x: 15%;
  }
}

// large screen mobile

@media screen and (max-width: 768px) {
  .home {
    background: none;
  }

  .home-section {
    left: 25px;
  }

  .about-section {
    left: 25px;
  }

  .about:before {
    background-position-x: 40%;
  }

  .skills-section {
    left: 25px;
  }

  .work-section {
    left: 25px;
  }

  .contact-section {
    left: 25px;
  }

  .footer {
    font-size: 11px;
    left: 52px;
    width: calc(100% - 52px);
  }
}
