@import '../../App.scss';

.skills-icons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 50px;
  padding: 30px 20px;
}

.skills-icon {
  font-size: 48px;
  width: 100%;
  color: $primary-font-color;
}

.skills-icon:hover {
  transition: all 0.15s;
  color: $third-font-color;
  filter: drop-shadow($red-shadow);
}

// tablet

@media screen and (max-width: 992px) {
  .skills-title {
    font-size: $h2-tablet-size;
  }

  .skills-text {
    font-size: $p-tablet-size;
  }

  .skills-icon {
    font-size: 38px;
  }

  .skills-paragraphs {
    width: 90%;
  }

  .chart-skills {
    max-height: 380px;
  }
}

// large screen mobile

@media screen and (max-width: 768px) {
  .skills-text {
    width: 100%;
  }

  .skills-title {
    font-size: $h2-mobile-size;
  }

  .skills-icons {
    width: 100%;
  }

  .skills-icon {
    font-size: 30px;
  }

  .skills-paragraphs {
    width: 100%;
    font-size: $p-mobile-size;
  }

  .chart-skills {
    display: none;
  }
}

@media screen and (max-width: 425px) {
  .skills-icons {
    display: none;
  }
}

// small screen mobile

@media screen and (max-width: 375px) {
  .skills-title {
    font-size: calc($h2-mobile-size - 2px);
  }
}
