@import '../../App.scss';

.about-content {
    height: 100%;
    width: 55%;
    min-width: 540px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-title {
    font-size: $h2-desktop-size;
    color: $primary-font-color;
}

.about-title-letter-capital {
    text-shadow: $red-shadow;
    color: $third-font-color;
}

.about-paragraph {
    color: $primary-font-color;
    margin-top: 30px;
    font-size: $p-desktop-size;
}

.about-paragraph:nth-child(5) {
    font-weight: 700;
    cursor: pointer;
    position: relative;
}

.about-paragraph:nth-child(5) a{
   color: $third-font-color;
   text-decoration: none;
}

.about-paragraph:nth-child(5)::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 0%;
    background-color: $third-font-color;
    bottom: -5px; 
    right: 18%;
    transition: all 0.3s;
}

.about-paragraph a {
    color: $third-font-color;
    text-decoration: none;
}

.about-paragraph:nth-child(5):hover:after {
    width: 82%;
}

// tablet

@media screen and (max-width: 992px) {
    .about-title {
        font-size: $h2-tablet-size;
    }
    .about-content {
        width: 85%;
    }

    .about-paragraph {
        font-size: $p-tablet-size;
    }
}

// large screen mobile

@media screen and (max-width: 768px) {
    .about-content {
        min-width: inherit;
        width: 100%;
    }

    .about-title {
        font-size: $h2-mobile-size;
    }

    .about-paragraph {
        font-size: $p-mobile-size;
    }

    .about-paragraph:nth-child(5)::after {
        display: none;
    }
}
  
// small screen mobile

@media screen and (max-width: 375px) {
    .about-title {
      font-size: calc($h2-mobile-size - 2px);
    }
  }