@import '../../App.scss';

.about .content-paragraph {
  color: $primary-bg-color;
  margin-top: 20px;
  font-size: $p-desktop-size;
}

.about .content-title {
  color: $primary-bg-color;
}

.about .content-text {
  border-top: 2px solid $primary-bg-color;
  border-left: 2px solid $primary-bg-color;
}

.about .content-paragraph a {
  color: $third-font-color;
}

// tablet

@media screen and (max-width: 992px) {
  .about-title {
    font-size: $h2-tablet-size;
  }
  .about-content {
    width: 85%;
  }

  .about-paragraph {
    font-size: $p-tablet-size;
  }
}

// large screen mobile

@media screen and (max-width: 768px) {
  .about-content {
    min-width: inherit;
    width: 100%;
  }

  .about-title {
    font-size: $h2-mobile-size;
  }

  .about-paragraph {
    font-size: $p-mobile-size;
  }

  .about-paragraph:nth-child(5)::after {
    display: none;
  }
}

// small screen mobile

@media screen and (max-width: 375px) {
  .about-title {
    font-size: calc($h2-mobile-size - 2px);
  }
}
